    body {
        font-family: 'Garamond', sans-serif;
        background: linear-gradient(to bottom, #E7CD49, #C42B3B);
        text-align: center;
    }

    #container {
        width: 50%;
        margin: 50px auto;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
    }

    nav {
        font-family: Arial, sans-serif;
        background-color: #E7CD49;
        text-align: left;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 20px auto;
    }

    input[type="number"] {
        padding: 10px;
        margin-bottom: 15px;
    }

    select {
        padding: 10px;
        margin-bottom: 15px;
    }

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E7CD49;
    }

    .container-fluid h1 {
        color: #333;
        margin: 0;
        flex-grow: 1;
        text-align: center;
    }

    h2 {
        color: #555;
        margin: 20px 0;
    }

    .login-register {
        color: #333;
        font-size: 20px;
        margin: 0;
    }

    p {
        color: #777;
        font-size: 16px;
        line-height: 1.6;
    }

    label {
        display: block;
        margin-bottom: 10px;
        color: #333;
        font-size: 18px;
    }

    input[type="text"] {
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #ddd;
        width: 250px;
        margin-bottom: 20px;
    }

    .g-signin2 {
        margin: 20px;
    }

    button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }