body {
    font-family: 'Garamond', sans-serif;
    background: linear-gradient(to bottom, #E7CD49, #C42B3B);
    text-align: center;
    margin: 0;
}

#container {
    width: 50%;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.navbar {
    background-color: #E7CD49;
    text-align: left;
    padding: 10px;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

h1 {
    color: #333;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

h2 {
    color: #555;
    margin: 20px 0;
}

form {
    max-width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#E7CD49;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
