<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>COINCRAFT - Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo" width="107" height="90"
                class="logo">
            <h1>COINCRAFT</h1>
        </div>
    </nav>
    <div class="login-container" action="{{ url_for('login') }}">
        <h2>Iniciar Sesión</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit" class="login-button">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
